

.Body{
  background-color: #dadada;
  width: 70vw;
  min-height: 80vh;
  position: absolute;
  right: 15vw;
  top: 10vh;
  padding:10px;
  border-radius: 4px;
  /* box-shadow: 3px 3px 0px black; */
}

.chatbox{
  border: 1px solid rgba(0, 0, 0, 0.53);
  border-radius: 5px;
  padding: 10px;
  background: rgba(3, 99, 215, 0.571);
  height: auto;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
}
.container{
  margin: 5px 0;
  padding: 0;
}
.container{
  display: flex;
  margin-left: 10px;
  row-gap: 0px;
  /* background-color: rgba(255, 0, 0, 0.318); */
}

.chat-container {
  overflow-y: scroll;
  height: 65vh;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -ms-scroll-snap-type: y proximity;
  scroll-snap-type: y proximity;
  /* border: 2px solid black; */
}

.chat-container::-webkit-scrollbar{
  width: 15px;
}

#snap {
  scroll-snap-align: end;
}


.me .chatbox{
  background-color: rgba(66, 146, 95, 0.819);
}

.me{
  display: flex;
  flex-direction: row-reverse;

}

.inputArea{
  position: absolute;
  width: 65%;
  bottom: 10px;
  display: flex;
  overflow: hidden;
  background:rgba(255, 255, 255, 0.111) ;
  backdrop-filter: blur(5px);
}

.inputArea input{
  flex-grow: 1;
  border: none;
  border-radius: 0px;
  padding: 4px;
  padding-left: 13px;
  height: auto;
}
.inputArea input:focus{
 
    outline: none;
    background-color: #ffffffb0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  
}
.inputArea button{
  margin-right: 25px;
  margin-left: 5px;
  border: none;
  background: rgb(6, 5, 5);
  padding: 10px;
  color:white;
}


.chatbox{
  border: 1px solid rgba(0, 0, 0, 0.53);
  border-radius: 5px;
  padding: 10px;
  background: rgba(3, 99, 215, 0.571);
  height: auto;
  margin-bottom: 2px; /* Adjust this value as needed */
}

.master-container{
  display: flex;

}

@media (max-width: 425px) {
  .Body {
    width: 100%;
    right: 0;
    top: 0;
    padding: 0;
  }

  .chatbox {
    max-width: 100%;

  }

  .inputArea {
    width: 100%;
    bottom: 0;
    position: fixed;
  }

  .online-area {
    display: none !important; /* Hide the online-area class in mobile */
  }
}