.online-area{
    height: 80vh;
    min-width: 300px;
    padding: 20px;
    margin-right: 10px;
    /* background-color: rgba(191, 188, 188, 0.626); */
    border-right:2px solid black;
    display: flex;
    flex-direction: column;
}

.head{
   background: rgb(92, 92, 104);
   border-radius: 5px;
}

.members{
    background: pink;
    height:auto;
    min-height: 200px;
    padding: 5px;
}

.head h3{
    padding: 3px;
}